body,
html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.accordion-container {
    margin: 60px auto;
    text-align: left;
    background: #fff;
    padding: 20px;
    width: 60%;
}

.accordion-container input {
    display: none;
}

.accordion-container label {
    padding: 15px 20px;
    cursor: pointer;
    color: #6b6b6a;
    background: #dadada;
    display: inline-block;
    margin-top: 3px;
    margin-right: 2px;
    font-weight: bold;
}

.accordion-container label.rwd-mobile {
    display: none;
}

.accordion-container article {
    height: 0;
    position: relative;
    overflow: hidden;
}

input[type="radio"]:checked+label {
    font-weight: bold;
}

.accordion-container input:checked + label,
.accordion-container input:checked + label:hover,
.accordion-container label.active {
    background: #f3f3f3;
    color: #65676f;
}

.accordion-container input:checked ~ article {
    height: auto;
    padding: 20px;

}

@media only screen and (max-device-width: 767px) {
    .accordion-container label.rwd-desktop {
        display: none;
    }
    .accordion-container label.rwd-mobile {
        display: block;
    }
}
